body {
  font: 100% $font-lexend;
  font-size: 15px;
  color: $white;
}
main {
  margin-top: 80px;
  margin-bottom: 80px;
}
h1 {
  font: 100% $font-big;
}
button {
  cursor: pointer;
  background-color: $white;
  font: 100% $font-lexend;
  padding: 15px 30px;
  border-style: none;
  border-color: $white;
  border-radius: 30px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (min-width: 986px) {
  body{
    font-size: 80%;
  }
  button{
    margin-top: 50px;
  }
  .container {
    flex-wrap: nowrap;
  }
}
