//fonts
$font-stack: Helvetica, sans-serif;
$font-big: 'Big Shoulders Display', cursive;
$font-lexend: 'Lexend Deca', sans-serif;

//colors
$white: rgb(255, 255, 255);
$orange-bright: hsl(31, 77%, 52%);
$cyan-dark: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$violet-blue: hsl(228, 45%, 44%);
$transparent-white: hsla(0, 0%, 100%, 0.75);//(paragraphs)
$very-light-gray: hsl(0, 0%, 95%);// (background, headings, buttons)